{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
<div class="container mt-4 d-flex justify-content-center">
    <div class="card shadow-sm animate__animated animate__fadeIn">
        <div class="card-body p-4">
            <h2 class="text-center animate__animated animate__fadeInDown mb-4">Connexion</h2>
            <form method="post">
                {% csrf_token %}

                <!-- Username Field with Error Handling -->
                <div class="mb-3">
                    {{ form.username.label_tag }}
                    {{ form.username }}
                    {% if form.username.errors %}
                        <div class="text-danger">
                            {% for error in form.username.errors %}
                                <p>{{ error }}</p>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>

                <!-- Password Field with Error Handling -->
                <div class="mb-3">
                    {{ form.password.label_tag }}
                    {{ form.password }}
                    {% if form.password.errors %}
                        <div class="text-danger">
                            {% for error in form.password.errors %}
                                <p>{{ error }}</p>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>

                <!-- Submit Button -->
                <div class="text-center">
                    <button type="submit" class="btn btn-primary animate__animated animate__fadeInUp w-100">Connexion</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
