{% extends 'base.html' %}

{% block title %}Delete Event{% endblock %}

{% block content %}
<div class="container mt-4">
    <div class="card bg-warning text-dark">
        <div class="card-body text-center">
            <h2 class="card-title animate__animated animate__fadeInDown">Êtes-vous sûr de vouloir supprimer cet événement ?</h2>
            <p class="card-text mb-4"><strong>{{ event.title }}</strong></p>
            <form method="post" class="d-inline">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger me-2 animate__animated animate__shakeX" aria-label="Confirm Delete">Supprimer</button>
                <a href="{% url 'event_detail' event.id %}" class="btn btn-secondary animate__animated animate__fadeInUp">Annuler</a>
            </form>
        </div>
    </div>
</div>
{% endblock %}
