{% extends 'base.html' %}

{% block title %}Contact Success{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="text-center">
        <h2 class="animate__animated animate__fadeInDown">Merci !</h2>
        <p class="lead animate__animated animate__fadeInUp">Votre message a été envoyé avec succès. Nous reviendrons vers vous dans les plus brefs délais.</p>
        <a href="{% url 'home' %}" class="btn btn-primary mt-4 animate__animated animate__fadeInUp">Retour à l'accueil</a>
    </div>
</div>
{% endblock %}
